<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<ExelSettings>
<ExelSettingsRead>
		<MultiWorksheet>true</MultiWorksheet>
		<SearchableColumn>Номера отправки</SearchableColumn>		
	<SearchingColumnNames>
		<SearchingColumnName>
			<Name>Номера отправки</Name>
			<Values>
				<string>Номер отправки</string>
				<string>№ накладной</string>
				<string>Номер накладной</string>
				<string>номер накладной</string>
				<string>номер отправок</string>
				<string>Номер отправок</string>
				<string>номер отправки</string>
				<string>№ отправки</string>
				<string>№ отправок</string>
				<string>Номера отправок</string>
				<string>номера отправок</string>
				<string>№ отправок</string>
			</Values>
			<Active>true</Active>
		</SearchingColumnName>
		<SearchingColumnName>
			<Name>Номера вагонов</Name>
			<Values>
				<string>Номер вагона</string>
				<string>№ вагона</string>
				<string>номер вагона</string>
				<string>Номера вагонов</string>
				<string>номера вагонов</string>
			</Values>
			<Active>true</Active>
		</SearchingColumnName>
		<SearchingColumnName>
			<Name>Номера контейнеров</Name>
			<Values>
				<string>Номер контейнера</string>
				<string>номер контейнера</string>
			</Values>
			<Active>true</Active>
		</SearchingColumnName>
		<SearchingColumnName>
			<Name>Станция отправления груза</Name>
			<Values>
				<string>Станция отправления груза</string>
				<string>станция отправления груза</string>
			</Values>
			<Active>true</Active>
		</SearchingColumnName>
		<SearchingColumnName>
			<Name>Станция назначения груза</Name>
			<Values>
				<string>Станция назначения груза</string>
				<string>станция назначения груза</string>
			</Values>
			<Active>true</Active>
		</SearchingColumnName>
		<SearchingColumnName>
			<Name>Груз</Name>
			<Values>
				<string>Груз</string>
				<string>груз</string>
			</Values>
			<Active>true</Active>
		</SearchingColumnName>
		<SearchingColumnName>
			<Name>Код груза ГНГ</Name>
			<Values>
				<string>Код груза ГНГ</string>
				<string>код груза ГНГ</string>
			</Values>
			<Active>true</Active>
		</SearchingColumnName>
		<SearchingColumnName>
			<Name>Код груза ЕТСНГ</Name>
			<Values>
				<string>Код груза ЕТСНГ</string>
				<string>код груза ЕТСНГ</string>
			</Values>
			<Active>true</Active>
		</SearchingColumnName>
		<SearchingColumnName>
			<Name>Дата отправки</Name>
			<Values>
				<string>Дата отправки</string>
				<string>отп.</string>
				<string>дата отправки</string>
				<string>отправка</string>
				<string>Отправка</string>
				<string>Дата отправления</string>
				<string>дата отправления</string>
			</Values>
			<Active>true</Active>
		</SearchingColumnName>
		<SearchingColumnName>
			<Name>Дата входа</Name>
			<Values>
				<string>Дата входа</string>
				<string>вх.</string>
				<string>дата входа</string>
				<string>Дата вхождения</string>
				<string>дата вхождения</string>
			</Values>
			<Active>true</Active>
		</SearchingColumnName>
		<SearchingColumnName>
			<Name>Дата выхода</Name>
			<Values>
				<string>Дата выхода</string>
				<string>вых.</string>
				<string>дата выхода</string>
				<string>Дата выхода</string>
				<string>дата выхода</string>
			</Values>
			<Active>true</Active>
		</SearchingColumnName>
	</SearchingColumnNames>
		<FooterLength>1</FooterLength>
</ExelSettingsRead>
		
		
		<ExelSettingsSearchFiles>
			<FormatsSearch>
				<string>.pdf</string>
			</FormatsSearch>
			<Configurations>
			<ConfigurationName>
			  <Name></Name>
			  <Modifieds>
				<ValueTupleOfInt32Char>
				  <Item1>0</Item1>
				  <Item2>1069</Item2>
				</ValueTupleOfInt32Char>
				<ValueTupleOfInt32Char>
				  <Item1>1</Item1>
				  <Item2>1051</Item2>
				</ValueTupleOfInt32Char>
			  </Modifieds>
			</ConfigurationName>
			<ConfigurationName>
			  <Name></Name>
			  <Modifieds>				
				<ValueTupleOfInt32Char>
				  <Item1>0</Item1>
				  <Item2>1051</Item2>
				</ValueTupleOfInt32Char>
			  </Modifieds>
			</ConfigurationName>
				<ConfigurationName>
					<Name></Name>
					<Modifieds>
						<ValueTupleOfInt32Char>
							<Item1>0</Item1>
							<Item2>1043</Item2>
						</ValueTupleOfInt32Char>
					</Modifieds>
				</ConfigurationName>
		  </Configurations>
		</ExelSettingsSearchFiles>
	</ExelSettings>
	
	<WordSettingsRead>
		<SearchParagraphs>
			<SearchParagraph>
			<Name>Тарифы</Name>
		<MainSearchStrings>
			<SearchString>
			<Name>Перечень</Name>
			<SearchStringWords>
				<string>Перечень</string>
				<string>№</string>
				<string>39617</string>
				<string>от</string>
				<string>01.05.2021</string>
			</SearchStringWords>
			<KeyWords>
				<string>Перечень</string>
				<string>№</string>
			</KeyWords>
			<SearchWords>
				 <SearchWord>
					<Name>Перечень</Name>
					<Data>Перечень</Data>
				  </SearchWord>
				  <SearchWord>
					<Name></Name>
					<Data>№</Data>
				  </SearchWord>
				  <SearchWord>
					<Name></Name>
					<Data>39617</Data>
				  </SearchWord>
				  <SearchWord>
					<Name></Name>
					<Data>от</Data>
				  </SearchWord>
				  <SearchWord>
					<Name></Name>
					<Data>01.05.2021</Data>
				  </SearchWord>
			</SearchWords>
			<PositionKeyWords>
				<item>
					<key>
						<string>Перечень</string>
					</key>
					<value>
						<int>0</int>
					</value>
				</item>
				<item>
					<key>
						<string>№</string>
					</key>
					<value>
						<int>1</int>
					</value>
				</item>
			</PositionKeyWords>
			<PositionSearchWords>
				<item>
					<key>
						<string>Перечень</string>
					</key>
					<value>
						<int>0</int>
					</value>
				</item>
				<item>
					<key>
						<string>№</string>
					</key>
					<value>
						<int>1</int>
					</value>
				</item>
				<item>
					<key>
						<string>39617</string>
					</key>
					<value>
						<int>2</int>
					</value>
				</item>
				<item>
					<key>
						<string>от</string>
					</key>
					<value>
						<int>3</int>
					</value>
				</item>
				<item>
					<key>
						<string>01.05.2021</string>
					</key>
					<value>
						<int>4</int>
					</value>
				</item>
			</PositionSearchWords>
			<AssociationsWords>
				<item>
					<key>
						<int>1</int>
					</key>
					<value>
						<ArrayOfInt>
							<int>0</int>
							<int>1</int>
							<int>2</int>
							<int>3</int>
							<int>4</int>
						</ArrayOfInt>
					</value>
				</item>
			</AssociationsWords>
			</SearchString>
			<SearchString>
				<Name>Станция</Name>
				<SearchStringWords>
					<string>Станция</string>
					<string>699204</string>
					<string>Кызылсай</string>
				</SearchStringWords>
				<KeyWords>
					<string>Станция</string>
				</KeyWords>
				<SearchWords>
					<SearchWord>
						<Name>Станция</Name>
						<Data>699204</Data>
					</SearchWord>
					<SearchWord>
						<Name></Name>
						<Data>Кызылсай</Data>
					</SearchWord>
				</SearchWords>
				<PositionKeyWords>
					<item>
						<key>
							<string>Станция</string>
						</key>
						<value>
							<int>1</int>
						</value>
					</item>
				</PositionKeyWords>
				<PositionSearchWords>
					<item>
						<key>
							<string>699204</string>
						</key>
						<value>
							<int>2</int>
						</value>
					</item>
					<item>
						<key>
							<string>Кызылсай</string>
						</key>
						<value>
							<int>3</int>
						</value>
					</item>
				</PositionSearchWords>
				<AssociationsWords>
					<item>
						<key>
							<int>1</int>
						</key>
						<value>
							<ArrayOfInt>
								<int>0</int>
								<int>1</int>
							</ArrayOfInt>
						</value>
					</item>
				</AssociationsWords>
			</SearchString>
		</MainSearchStrings>		
		<SearchStrings>
			<SearchString>
				<Name>Ифнормация о перечне</Name>
				<SearchStringWords>					
					<string>01.05</string>
					<string>30711714</string>
					<string>2124</string>
					<string>тар.начис.приб.г</string>
					<string>473.133,00</string>
				</SearchStringWords>
				<KeyWords>
					<string>тар.начис.приб.г</string>
				</KeyWords>
				<SearchWords>					
					<SearchWord>
						<Name>Дата</Name>
						<Data>01.05</Data>
					</SearchWord>
					<SearchWord>
						<Name>Норемр документа</Name>
						<Data>30711714</Data>
					</SearchWord>
					<SearchWord>
						<Name>Код списания</Name>
						<Data>2124</Data>
					</SearchWord>
					<SearchWord>
						<Name>Тариф</Name>
						<Data>тар.начис.приб.г</Data>
					</SearchWord>
					<SearchWord>
						<Name>Стоимость</Name>
						<Data>473.133,00</Data>
					</SearchWord>
				</SearchWords>
				<PositionKeyWords>
					<item>
						<key>
							<string>тар.начис.приб.г</string>
						</key>
						<value>
							<int>4</int>
						</value>
					</item>
				</PositionKeyWords>
				<PositionSearchWords>					
				<item>
					<key>
						<string>01.05</string>
					</key>
					<value>
						<int>1</int>
					</value>
				</item>
				<item>
					<key>
						<string>30711714</string>
					</key>
					<value>
						<int>2</int>
					</value>
				</item>
				<item>
					<key>
						<string>2124</string>
					</key>
					<value>
						<int>3</int>
					</value>
				</item>
					<item>
						<key>
							<string>тар.начис.приб.г</string>
						</key>
						<value>
							<int>4</int>
						</value>
					</item>
				<item>
					<key>
						<string>473.133,00</string>
					</key>
					<value>
						<int>5</int>
					</value>
				</item>
				</PositionSearchWords>
			<AssociationsWords>				
			</AssociationsWords>
			</SearchString>
		</SearchStrings>
			</SearchParagraph>
			<SearchParagraph>
				<Name>Простои</Name>
				<MainSearchStrings>
					<SearchString>
						<Name>Перечень</Name>
						<SearchStringWords>
							<string>Перечень</string>
							<string>№</string>
							<string>39617</string>
							<string>от</string>
							<string>01.05.2021</string>
						</SearchStringWords>
						<KeyWords>
							<string>Перечень</string>
							<string>№</string>
						</KeyWords>
						<SearchWords>
							<SearchWord>
								<Name>Перечень</Name>
								<Data>Перечень</Data>
							</SearchWord>
							<SearchWord>
								<Name></Name>
								<Data>№</Data>
							</SearchWord>
							<SearchWord>
								<Name></Name>
								<Data>39617</Data>
							</SearchWord>
							<SearchWord>
								<Name></Name>
								<Data>от</Data>
							</SearchWord>
							<SearchWord>
								<Name></Name>
								<Data>01.05.2021</Data>
							</SearchWord>
						</SearchWords>
						<PositionKeyWords>
							<item>
								<key>
									<string>Перечень</string>
								</key>
								<value>
									<int>0</int>
								</value>
							</item>
							<item>
								<key>
									<string>№</string>
								</key>
								<value>
									<int>1</int>
								</value>
							</item>
						</PositionKeyWords>
						<PositionSearchWords>
							<item>
								<key>
									<string>Перечень</string>
								</key>
								<value>
									<int>0</int>
								</value>
							</item>
							<item>
								<key>
									<string>№</string>
								</key>
								<value>
									<int>1</int>
								</value>
							</item>
							<item>
								<key>
									<string>39617</string>
								</key>
								<value>
									<int>2</int>
								</value>
							</item>
							<item>
								<key>
									<string>от</string>
								</key>
								<value>
									<int>3</int>
								</value>
							</item>
							<item>
								<key>
									<string>01.05.2021</string>
								</key>
								<value>
									<int>4</int>
								</value>
							</item>
						</PositionSearchWords>
						<AssociationsWords>
							<item>
								<key>
									<int>1</int>
								</key>
								<value>
									<ArrayOfInt>
										<int>0</int>
										<int>1</int>
										<int>2</int>
										<int>3</int>
										<int>4</int>
									</ArrayOfInt>
								</value>
							</item>
						</AssociationsWords>
					</SearchString>
					<SearchString>
						<Name>Станция</Name>
						<SearchStringWords>
							<string>Станция</string>
							<string>699204</string>
							<string>Кызылсай</string>
						</SearchStringWords>
						<KeyWords>
							<string>Станция</string>
						</KeyWords>
						<SearchWords>
							<SearchWord>
								<Name>Станция</Name>
								<Data>699204</Data>
							</SearchWord>
							<SearchWord>
								<Name></Name>
								<Data>Кызылсай</Data>
							</SearchWord>
						</SearchWords>
						<PositionKeyWords>
							<item>
								<key>
									<string>Станция</string>
								</key>
								<value>
									<int>1</int>
								</value>
							</item>
						</PositionKeyWords>
						<PositionSearchWords>
							<item>
								<key>
									<string>699204</string>
								</key>
								<value>
									<int>2</int>
								</value>
							</item>
							<item>
								<key>
									<string>Кызылсай</string>
								</key>
								<value>
									<int>3</int>
								</value>
							</item>
						</PositionSearchWords>
						<AssociationsWords>
							<item>
								<key>
									<int>1</int>
								</key>
								<value>
									<ArrayOfInt>
										<int>0</int>
										<int>1</int>
									</ArrayOfInt>
								</value>
							</item>
						</AssociationsWords>
					</SearchString>
				</MainSearchStrings>
				<SearchStrings>
					<SearchString>
						<Name>Ифнормация о перечне</Name>
						<SearchStringWords>
							<string>01.05</string>
							<string>30711714</string>
							<string>2124</string>
							<string>тар.начис.приб.г</string>
							<string>473.133,00</string>
						</SearchStringWords>
						<KeyWords>
							<string>тар.начис.приб.г</string>
						</KeyWords>
						<SearchWords>
							<SearchWord>
								<Name>Дата</Name>
								<Data>01.05</Data>
							</SearchWord>
							<SearchWord>
								<Name>Норемр документа</Name>
								<Data>30711714</Data>
							</SearchWord>
							<SearchWord>
								<Name>Код списания</Name>
								<Data>2124</Data>
							</SearchWord>
							<SearchWord>
								<Name>Простой</Name>
								<Data>тар.начис.приб.г</Data>
							</SearchWord>
							<SearchWord>
								<Name>Стоимость</Name>
								<Data>473.133,00</Data>
							</SearchWord>
						</SearchWords>
						<PositionKeyWords>
							<item>
								<key>
									<string>тар.начис.приб.г</string>
								</key>
								<value>
									<int>4</int>
								</value>
							</item>
						</PositionKeyWords>
						<PositionSearchWords>
							<item>
								<key>
									<string>01.05</string>
								</key>
								<value>
									<int>1</int>
								</value>
							</item>
							<item>
								<key>
									<string>30711714</string>
								</key>
								<value>
									<int>2</int>
								</value>
							</item>
							<item>
								<key>
									<string>2124</string>
								</key>
								<value>
									<int>3</int>
								</value>
							</item>
							<item>
								<key>
									<string>тар.начис.приб.г</string>
								</key>
								<value>
									<int>4</int>
								</value>
							</item>
							<item>
								<key>
									<string>473.133,00</string>
								</key>
								<value>
									<int>5</int>
								</value>
							</item>
						</PositionSearchWords>
						<AssociationsWords>
						</AssociationsWords>
					</SearchString>
				</SearchStrings>
			</SearchParagraph>
		</SearchParagraphs>
	</WordSettingsRead>
</Settings>