[*]
# VSSPELL: Spell checker settings from READER_0.1.csproj.vsspell
vsspell_section_id = d26b5671c2e24f83a4c01c48cfe5dfe6
vsspell_dictionary_languages_d26b5671c2e24f83a4c01c48cfe5dfe6 = ru-RU,en-US

[settings.xml]
